<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>百度新闻</title>
    <link href="//cdn.bootcss.com/normalize/4.1.1/normalize.css" rel="stylesheet">
    <link href="/font/iconfont.css" rel="stylesheet">
    <link href="/css/news.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="cf">
        <a href="#" class="logo"><span class="iconfont">&#xe64c;</span></a>
        <a href="#" class="user"><span class="iconfont">&#xe629;</span></a>
        <a href="#" class="logo"><span class="iconfont">&#xe643;</span></a>
        <a href="#" class="logo"><span class="iconfont">&#xe66b;</span></a>
    </header>

    <nav>
        <ul>
            <li><a>精选</a><i></i></li>
            <li><a href="#">百家</a><i></i></li>
            <li><a href="#">本地</a><i></i></li>
            <li><a href="#">图片</a><i></i></li>
            <li><a href="#">娱乐</a><i></i></li>
            <li><a href="#">社会</a><i></i></li>
            <li><a href="#">军事</a><i></i></li>
            <li><a href="#">女人</a><i></i></li>
            <li><a href="#">搞笑</a><i></i></li>
            <li><a href="#">互联网</a><i></i></li>
            <li><a href="#">更多</a><i></i></li>
        </ul>
    </nav>

    <article class="news-main">

        <!--这里自动添加新闻-->


        <ul class="news-lists">
            <!--<li class="news-list">-->
                <!--<div class="newsimg">-->
                    <!--<img src="img/多肉.jpeg" width="100%">-->
                <!--</div>-->
                <!--<div class="newscontent">-->
                    <!--<h1>多肉植物交流会</h1>-->
                    <!--<p><span class="newstime">2016年1月1日</span><span class="newssrc">豆瓣同城</span></p>-->
                <!--</div>-->
            <!--</li>-->
        </ul>

    </article>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {     //动态的改变页面的宽度
            var deviceWidth = $('body').width();
            $('nav li').each(function (index, item) {
                if ($(this).find('a').html().split('').length > 2) {
                    $(this).width(deviceWidth / 3);
                } else {
                    $(this).width(deviceWidth / 6);
                }
            })
        });
    </script>
    <script type="text/javascript" src="/js/news.js"></script>
</div>
</body>
</html>

